project:
  type: website
  output-dir: docs

website:
  title: "Quantum Bits"
  navbar:
    right:
      - about.qmd
      - blog.qmd

format:
  html:
    theme: 
      light: sandstone
      dark: darkly
    css: styles.css



